body {
  margin: 0;
  font-family: sans-serif;
}

ul {
  padding-left: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

/* Layout */

.navbar {
  background: #0094ff;
  display: flex;
  justify-content: space-between;
  color: #fefefe;
  padding: 0 2rem;
  align-items: center;
}

.navbar__name {
  overflow: auto;
}

.navbar__links {
  display: flex;
  justify-content: space-between;

}

.link {
  color: #fefefe;
  text-decoration: none;
  margin: .5rem;
}

.section {
  padding: 1rem;
}

.container {
  max-width: 65rem;
  margin: 0 auto;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.grid__item {
  background: #fefefe;
  margin: 2rem;
  flex-basis: calc(100% / 2 - 2rem - 2rem);

  flex-grow: 1;
}

.card {
  margin: 0;
  min-width: 15rem;
  position: relative;
  box-shadow: 3px 3px 5px rgba(0,0,0,.55);
}

.card__header {
  background: #ffd336;
  padding: 2rem;
}

.card__tag {
  background: #0094ff;
  color: #fefefe;
  padding: .5rem;
  position: absolute;
  top: -2rem;
  right: 50%;

  transform: translateX(50%);
  box-shadow: 3px 3px 5px rgba(0,0,0,.55);
}

.card__pic {
  border-radius: 50%;
  width: 3rem;
  position: absolute;
  top: 5%;
  left: -5%;
  box-shadow: 3px 3px 5px rgba(0,0,0,.55);
}

.card__title {
  color: #000;
  margin: 0 1rem;
}

.card__body {
  margin: 0;
  padding: 1rem;
}
